<!DOCTYPE html>
<html>
	<head>
		<title>Asset Manager | Help</title>
	</head>
	<body>
		<h1>Help</h1>
		<p>
			If you need any help, please contact the <a href="mailto:ryan.macgillivray@
			jtcfurnituregroup.com&subject=Issue%20with%asset%20manager">IT Department</a>
		</p>
	</body>
</html>