- provide(:title, 'Help')
%h1 Help
%p
  If you need any help, please contact the
  %a{:href => "mailto:ryan.macgillivray@\n\tjtcfurnituregroup.com?subject=Issue%20with%20asset%20manager"} IT Department
