<!DOCTYPE html>
<html>
	<head>
		<title>Asset Manager | Home</title>
	</head>
	<body>
		<h1>Asset Manager</h1>
		<p>
			This is the home page for the Asset Management application.
		</p>
	</body>
</html>