<p>Hello <%= @user.name %>,</p>

<p>To reset your password please click the link below.</p>
<p><%= link_to "here", edit_password_reset_url(@user.password_reset_token) %></p>

<p>Thanks, <br />
The IT Department</p>