<p>Hello <%= @user.name %>,</p>

<p>You're now signed up to the JTC Asset Manager.</p>
<p>You can get started <%= link_to "here", "127.0.0.1:3000#{root_path}" %></p>

<p>Thanks, <br />
The IT Department</p>