<p>Hello <%= @user.name %>,</p>

<p>You're now signed up to the JTC Asset Manager.</p>
<p>You can get started <%= link_to "here", "172.16.0.120#{root_path}" %></p>

<p>Thanks, <br />
The IT Department</p>
