<% provide(:title, "Asset #{@asset.id}") %>
<div class="row">
  <aside class="span7">
    <section>
      <h1><%= "JTC#{@asset.id}" %></h1>
    </section>
  </aside>
  <div class="span12">
      <ol class="assets">
        <%= render @asset %>
      </ol>
      <% if @asset.image? %>
        <%= image_tag @asset.image_url(:thumb).to_s %><br />
        <%= link_to "Full Image", @asset.image_url.to_s %>
      <% end %>
  </div>
</div>